body {
    background-image: url(/res/img/lobby.jpg);
}
#FightBtn {
    position: absolute;
    left: 915px;
    top: 460px;
    text-decoration: none;
    color:red;
    font-size: 25px;
    font-family: fantasy;
}
#ShopBtn {
    position: absolute;
    left: 15px;
    top: 575px;
    text-decoration: none;
    color:rgb(0, 255, 64);
    font-size: 25px;
    font-family: fantasy;
}
#info {
    text-align: center;
    color: coral;
    font-size: 25px;
    font-family: fantasy;
}
#left {
    position: absolute;
    top: 575px;
    text-decoration: none;
    color:rgb(0, 255, 64);
    font-size: 25px;
    font-family: fantasy;
    right: 20px;

}